body{ 
  color: rgb(187 120 86);
  background: rgb(35 40 59); 
	margin: 0;
	padding: 0;
	text-align: center;
}

.nav-bar {
	margin-top: 0px;
	background-color: rgb(187 120 86);
	padding-top: 1px;
}
.nav-bar ul {
	display: flex;
	flex-direction: row;

}
.nav-bar p{
	margin-right: 10px;
  background: rgb(35 40 59); 
	padding: 10px;
}

.Link, .Link:visited, .Link:active {
  color: rgb(40 180 206);
}
